<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%=title%></title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<link rel="icon"  type="image/png" href="/uploads/logo.png">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<!-- Font -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet" />
		<!-- Font-Awesome -->

		<link rel="stylesheet" href="/css/all.css" />

		<!-- Swifer JS -->
		<link rel="stylesheet" href="/css/swiper.min.css">
		<!-- CSS Links -->
		<link rel="stylesheet" href="/styles/style.css" />

	</head>
	<body>
		<div class="row bg-dark main-head-container">
			<div class="col-sm-12">
				<div class="row">
					<div class="container bg-light head-container">
						<div class="row">
							<div class="col-md-2 text-center text-dark">
								<img src="<%='/uploads/default-web-logo.png'%>" style="max-width: 90px;" alt="" />
							</div>
							<div class="col-md-8 head-name">
								<!-- <h4 class="text-center web-name">الجامعة الاحمدية السنية العالية (الكامل)</h4>
								<h4 class="text-center web-name">JAMEA AHMADIA SUNNIA KAMIL MADRASAH</h4> -->
								<%if(webModel.name.length===0){%>
									<h4 class="text-center web-name text-muted">YOUR WEBSITE TITLE HERE</h4>
								<%}else{%>
								<%for(let webName of webModel.name){%>
									<h4 class="text-center web-name"><%=webName.name.toUpperCase()%></h4>
									<%}%>
								<%}%>
							</div>
							<div class="col-md-2 head-social-links">
								<%if(webModel.socialLinks){%>
									
										<%webModel.socialLinks.forEach((link,ind)=>{%>
											<a href="<%=link.action%>">
												<i style=<%='color:'+link.color%> class="<%=link.icon%> m-1"></i>
											</a>
										<%})%>
									
								<%}%>
								
								<!-- <a class="head-youtube">
									<i class="fab fa-instagram"></i>
								</a>
								<a class="head-facebook">
									<i class="fab fa-facebook m-1"></i>
								</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="row braking-news py-2">
					<marquee behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();">
						<div class="d-flex;" style="max-width:1300px">
							<%if(webModel.breakingNews.length!==0){%>
								<%for(let news of webModel.breakingNews){%>
										<%if(news.url.length!==0){%>
											<a class="mr-3" href="<%=news.url%>"><%=news.title%></a>
										<%}else{%>
											<span class="mr-3"><%=news.title%></span>
											<%}%>
									<%}%>
							<%}else{%>
								<span style="display: inline-block;">No have any kind of breaking News right now</span>
							<%}%>
						</div>
					</marquee>
				</div>
			</div>
			
		</div>

		<!-- Navigation -->
		<%-include('./navigation.ejs')%>

		
