<%-include('../../partials/admin/adminHead.ejs')%>
<div class="container-luid">
   <div class="row">
      <!-- Admin Brand and Dashboard Menu -->
      <%- include('../../partials/admin/adminSidebar.ejs')%>
      <!-- Dashboard Content -->
      <div class="col-sm-10 ">
         <!-- Admin Navbar Content -->
         <%- include('../../partials/admin/adminNavbar.ejs')%>
         <!-- Included Here Admin Dashboard Controlling Systems Using as a row-->
         <div class="row <%=flashMessage.success||flashMessage.fail?'mt-1':'mt-0'%>">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
               <%-include('../../partials/Error/alert.ejs')%>
            </div>
            <div class="col-sm-2"></div>
         </div>
         <div class="row scroll-style">
            <div class="col-sm-12" style="background:#6c757d;">
               <div class="row mt-2">
                  <div class="col-sm-12">
                     <h4 class="menu-title p-1 text-center"> Navigation Management </h4>
                  </div>
               </div>
               <div id="alert-menu-box">
               </div>
               <div class="row py-2">
                  <div class="col-sm-12">
                     <div class="card" style="background: #545b62;">
                        <!-- Menu Create Modal Start -->
                        <div class="modal fade" id="menuCreateModal" tabindex="-1" role="dialog"
                           aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Create Menu</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                       aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                    <div id="create-menu-modal-box"></div>
                                    <div class="row py-3">
                                       <div class="col-sm-12 menu_name_container">
                                          <h6 style="font-weight:bold">Name :</h6>
                                          <input type="text" name="name" placeholder="..."
                                             class="form-control create_menu_style" id="menu_name">
                                          <div class="invalid-feedback">
                                             Please Provied Menu Name
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row py-3">
                                       <div class="col-sm-12 menu_action_container">
                                          <h6 style="font-weight:bold">Action :</h6>
                                          <input type="text" name="action" placeholder="https://"
                                             class="form-control create_menu_style" id="menu_action">
                                          <div class="invalid-feedback">
                                             Please Provied Manu Action
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                       data-dismiss="modal">Close</button>
                                    <button type="button" id="menu_create"
                                       class="btn btn-primary">Create</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Menu Create Modal End -->
                        <div class="row p-3">
                           <!-- Menu Start -->
                           <div class="col-sm-12">
                              <nav aria-label="breadcrumb">
                                 <ol class="breadcrumb breadcrumb__container">
                                    <li class="breadcrumb-item breadcrumb__item active" aria-current="page"><a href="/administrator/dashboard">Dashboard</a></li>
                                    <li class="breadcrumb-item breadcrumb__item active" aria-current="page"><a href="/administrator/menu-create">Menu</a></li>
                                 </ol>
                              </nav>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="card menu-header">
                                       <div class="row py-1">
                                          <div class="col-sm-3 pt-2 text-center text-light">
                                             Menu
                                          </div>
                                          <div class="col-sm-1"></div>
                                          <div class="col-sm-6">
                                             <div class="menu-seacrh-item d-flex ml-5">
                                                <div class="menu-search-item-input">
                                                   <input type="search" name="search"
                                                      placeholder="Search here anything...">
                                                </div>
                                                <div class="menu-search-icon">
                                                   <i class="fas fa-search"></i>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-sm-2 text-right pt-1">
                                             <button type="button" class="btn btn-success btn-sm mr-1"
                                                data-toggle="modal" data-target="#menuCreateModal"
                                                data-whatever="@mdo">Add</button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="card" id="menu-empty-message-container">
                                 <table class="table">
                                    <thead>
                                       <tr class="text-center">
                                          <th scope="col">ID</th>
                                          <th>
                                             <i class="fas fa-exchange-alt"></i>
                                          </th>
                                          <th scope="col">TITLE</th>
                                          <th>
                                             <i class="fas fa-exchange-alt"></i>
                                          </th>
                                          <th scope="col">ACTION</th>
                                          <th>
                                             <i class="fas fa-exchange-alt"></i>
                                          </th>
                                          <th scope="col">CREATED AT</th>
                                          <th>
                                             <i class="fas fa-exchange-alt"></i>
                                          </th>
                                          <th scope="col">DROPDOWN</th>
                                          <th>
                                             <i class="fas fa-exchange-alt"></i>
                                          </th>
                                          <th scope="col">CONTROLLING</th>
                                          <th>
                                             <i class="fas fa-exchange-alt"></i>
                                          </th>
                                          <th scope="col">DROP MENU</th>
                                       </tr>
                                    </thead>
                                    <tbody id="menu_tbody">
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <!-- Menu End -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%-include('../../partials/admin/adminFooter.ejs')%>
</body>
</html>