<%-include('../../partials/admin/adminHead.ejs')%>

<div class="container"><%-include('../../partials/Error/alert.ejs')%></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-6 mt-5">

            <div class="card mt-5">
                <h1 class="text-center card-title pt-3">JASA</h1>
                <div class="card-body px-5 pb-5 ">
                    <form action="/auth/forgot_password" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">FORGOT PASSWORD?</label>
                            <input type="email" class="form-control <%=error.email?'is-invalid':''%>" placeholder="Enter Your Email"
                                id="exampleInputEmail1" name="email">
                            <div class="invalid-feedback">
                                <%=error.email%>
                            </div>


                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<!-- Bootstrap JS Links -->
<%-include('../../partials/admin/adminFooter.ejs')%>

<body>

    </html>