<%-include('../../partials/admin/adminHead.ejs')%>

   
<div class="row">
   <!-- Admin Brand and Dashboard Menu -->
   <%- include('../../partials/admin/adminSidebar.ejs')%>
   <!-- Dashboard Content -->
   <div class="col-sm-10 ">
      <!-- Admin Navbar Content -->
      <%- include('../../partials/admin/adminNavbar.ejs')%>
      <!-- Included Here Admin Dashboard Controlling Systems Using as a row-->
      
      
      <div class="row scroll-style">
         
         <div class="col-sm-12" style="background:#6c757d;">
            
            <div class="row">
               <div class="w-100">
                  <%-include('../../partials/Error/alert.ejs')%>
               </div>
               <div class="col-sm-12">
                  <h4 class="menu-title p-1 text-center" style="color:#f8f9fa;text-transform:uppercase;font-weight:bold;"> <%=categoryItem.name%> </h4>
               </div>
            </div>
            <div class="row py-2">
               <div class="col-sm-12">
                  <div class="custom-card p-3">
                     <div class="row">
                      
                        <!-- Listed Notice -->
                        <div class="col-sm-12">

                         <!-- Notice Create Modal -->
                         <div class="modal fade" id="eventCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                               <div class="modal-content">
                                  <div class="modal-header">
                                     <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                     </button>
                                  </div>
                                  <form action="/administrator/news/category/item/create/<%=categoryItem._id%>" enctype="multipart/form-data" method="POST">
                                     <div class="modal-body">
                                        <div class="latestNewsBody">
                                           <div class="form-group">
                                              <label style="font-weight:bold;" for="latestNewsTitle">Title</label>
                                              <textarea style="background:white;" class="latestNewsTitle" name="title" id="latestNewsTitle"></textarea>
                                           </div>
                                           <div class="form-group">
                                              <label style="font-weight:bold;" for="latestNewsText">Text</label>
                                              <textarea style="background:white;height:150px;" class="latestNewsText" name="text" id="latestNewsText"></textarea>
                                           </div>
                                           
                                           <div class="form-group">
                                              <label style="font-weight:bold;" for="latestNewsText">Date</label>
                                              <input type="date" style="border:none;border-bottom:1px solid #00000059;border-radius:0px;" class="dateCustomStyle form-control" name="date" value="">
                                           </div>
                                           
                                           <div class="form-group">
                                              <img class="noticeImagePreview" style="width:100%;max-height:350px;">
                                           </div>
                                           <div class="form-group">
                                              <label style="font-weight:bold;" for="latestNewsText">Upload Image</label>
                                              <div class="custom-file">
                                                 <input type="file" name="file" class="custom-file-input noticeImageUploadField" id="customFile">
                                                 <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                           </div>
                                         
                                        </div>
                                     </div>
                                     <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary">Update</button>
                                     </div>
                                  </form>
                               </div>
                            </div>
                         </div>
                         <!-- Modal End -->

                           <!-- Table Section -->
                           <div class="p-2 mt-2 admin-show-scroll-style" style="height:450px!important;border:1px solid #0000001c;border-radius:8px;background:#f8f9fa">
                            <button data-toggle="modal" data-target="#eventCreateModal" data-whatever="@mdo" class="btn btn-sm btn-primary w-25 mb-2">Create</button>
                              <%if(webModel.notice.length!==0){%>
                              <div class="card">
                                 <table class="table table-sm">
                                    <thead>
                                       <tr class="text-center">
                                          <th scope="col">Title</th>
                                          <th scope="col">Image</th>
                                          <th scope="col">Date</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">CONTROLLING</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <%items.forEach((notice,ind)=>{%>
                                       <!-- Modal -->
                                       <div class="modal fade" id="noticeModal<%=ind%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-lg">
                                             <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="exampleModalLabel">Update Event</h5>
                                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                                   </button>
                                                </div>
                                                <form action="/administrator/news/category/item/update/<%=notice._id%>" enctype="multipart/form-data" method="POST">
                                                   <div class="modal-body">
                                                      <div class="latestNewsBody">
                                                         <div class="form-group">
                                                            <label style="font-weight:bold;" for="latestNewsTitle">Title</label>
                                                            <textarea style="background:white;" class="latestNewsTitle" name="title" id="latestNewsTitle"><%=notice.title%></textarea>
                                                         </div>
                                                         <div class="form-group">
                                                            <label style="font-weight:bold;" for="latestNewsText">Text</label>
                                                            <textarea style="background:white;height:150px;" class="latestNewsText" name="text" id="latestNewsText"><%=notice.text%></textarea>
                                                         </div>
                                                         
                                                         <div class="form-group">
                                                            <label style="font-weight:bold;" for="latestNewsText">Date</label>
                                                            <input type="date" style="border:none;border-bottom:1px solid #00000059;border-radius:0px;" class="dateCustomStyle form-control" name="date" value="<%=notice.date%>">
                                                         </div>
                                                         <%if(notice.file){%>
                                                         <div class="form-group">
                                                            <label style="font-weight:bold;" for="latestNewsText">Update Image</label>
                                                            <img class="noticeImagePreview" src="<%=notice.file%>" alt="Image" style="width:100%;max-height:350px;">
                                                         </div>
                                                         <div class="form-group">
                                                            <div class="custom-file">
                                                               <input type="file"  name="file" class="noticeImageUploadField custom-file-input" id="customFile">
                                                               <label class="custom-file-label" for="customFile">Choose file</label>
                                                            </div>
                                                         </div>
                                                         <%}else{%>
                                                         <div class="form-group">
                                                            <img class="noticeImagePreview" style="width:100%;max-height:350px;">
                                                         </div>
                                                         <div class="form-group">
                                                            <label style="font-weight:bold;" for="latestNewsText">Upload Image</label>
                                                            <div class="custom-file">
                                                               <input type="file" name="file" class="custom-file-input noticeImageUploadField" id="customFile">
                                                               <label class="custom-file-label" for="customFile">Choose file</label>
                                                            </div>
                                                         </div>
                                                         <%}%>
                                                      </div>
                                                   </div>
                                                   <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <button class="btn btn-primary">Update</button>
                                                   </div>
                                                </form>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- Modal End -->
                                       <tr class="text-center">
                                          <td style="vertical-align:middle;width:30%;">
                                             <%if(notice.title){%>
                                             <%if(notice.title.length>40){%>
                                             <%=notice.title.slice(0,41)+'...'%>
                                             <%}else{%>
                                             <%=notice.title%>
                                             <%}%>
                                             <%}else{%>
                                             <span class="text-muted">N/A</span>
                                             <%}%>
                                          </td>
                                          <td style="vertical-align:middle" class="<%=notice.image?'':'text-muted'%>">
                                             <%=notice.image?'Available':'N/A'%>
                                          </td>
                                          <td style="vertical-align:middle" class="text-muted">
                                             <%=notice.date%>
                                          </td>
                                          <td style="vertical-align:middle" class="text-muted">
                                                
                                             <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                <a href="/administrator/news/category/item/status/<%=notice._id%>?status=active" class="btn btn-light border text-primary <%=notice.status?'active':''%>">Active</a>
                                                <a href="/administrator/news/category/item/status/<%=notice._id%>?status=inactive" class="btn btn-light border text-danger <%=notice.status?'':'active'%>">Inactive</a>
                                          
                                             </div>
                                          </td>
                                          
                                          <td style="vertical-align:middle">
                                             <a class="btn btn-sm" href="/administrator/news/category/item/delete/<%=notice._id%>">
                                             <i class="fas fa-trash-alt text-danger"></i>
                                             </a>
                                             <button data-toggle="modal" data-target="#noticeModal<%=ind%>" data-whatever="@mdo"  class="btn btn-sm">
                                             <i class="fas fa-edit text-info"></i>
                                             </button>

                                             

                                          </td>
                                       </tr>
                                       <%})%>
                                    </tbody>
                                 </table>
                              </div>
                              <%}else{%>
                              <h6 class="text-muted text-center">There is nothing to show</h6>
                              <%}%>
                           </div>
                        </div>
                        <!-- Listed Notice End -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<%-include('../../partials/admin/adminFooter.ejs')%>
<script>
   let noticeImagePreview = document.querySelectorAll('.noticeImagePreview')
   let noticeImageUploadField = document.querySelectorAll('.noticeImageUploadField')
   
   noticeImageUploadField.forEach((field,fIndex)=>{
       field.addEventListener('change',(e)=>{
           noticeImagePreview.forEach((preview,pIndex)=>{
               if(fIndex===pIndex){
                   preview.src=URL.createObjectURL(e.target.files[0])
               }
           })
       })	
   })
   
   let noticeImgPreviewParent = document.getElementById('noticeImgPreviewParent')
   // let singleNoticeImagePreview = document.getElementById('singleNoticeImagePreview')
   let singleNoticeImgUploadFiled = document.getElementById('singleNoticeImgUploadFiled')
   
   singleNoticeImgUploadFiled.addEventListener('change',(e)=>{
       let preview = document.createElement('img')
       preview.style.width = '100%'
       preview.style.maxHeight = '350px'
       preview.src = URL.createObjectURL(e.target.files[0])
   
       noticeImgPreviewParent.appendChild(preview)
   
   })
   
   
</script>
</body>
</html>