<%-include('../../partials/head.ejs')%>

<div class="container-fluid bg-secondary pb-5 <%=flashMessage.success||flashMessage.fail?'pt-4':'pt-5'%> login-container">
	<!-- <h1 class="text-center admin-login-title"><span>J</span>ASA</h1> -->
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<%-include('../../partials/Error/alert.ejs')%>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
	<div class="card m-auto admin-login-card py-4" style="max-width: 35rem;">
		<form action="/auth/login" class="admin-login-form" method="POST">
			<h4 class="admin-login-text">LOGIN</h4>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<div class="input-group">
						<div class="input-group-prepend ">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input 
						type="text" 
						class="form-control <%=error.email?'is-invalid':''%>" 
						name="email"
						placeholder="Email"  />
						<div class="invalid-feedback">
							<%=error.email%>
						</div>
					</div>
				</div>
				<div class="col-md-12 mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input 
						type="password" 
						name="password"
						class="form-control <%=error.password?'is-invalid':''%>" 
						placeholder="Password"  />
						<div class="invalid-feedback">
							<%=error.password%>
						</div>
						
					</div>
					
				</div>
				<a href="/auth/forgot_password" class="pb-2 pl-2">Forgot Password?</a>
			</div>
			
			<input type="submit" class="btn btn-primary" value="Login" />
		</form>
	</div>
</div>
<%-include('../../partials/footer.ejs')%>