<%-include('../../partials/admin/adminHead.ejs')%>
<div class="row">
   <!-- Admin Brand and Dashboard Menu -->
   <%-include('../../partials/admin/adminSidebar.ejs')%>
   <!-- Dashboard Content -->
   <div class="col-sm-10 security-login-style">
      <!-- Admin Navbar Content -->
      <%-include('../../partials/admin/adminNavbar.ejs')%>
      <!-- Included Here Admin Dashboard Controlling Systems Using as a row-->
      <div class="row">
         <div class="col-sm-1"></div>
         <div class="col-sm-10">
            <div class="container"> <%-include('../../partials/Error/alert.ejs')%></div>
         </div>
         <div class="col-sm-1"></div>
      </div>
      <div class="row border-top">
         <div class="col-sm-3"></div>
         <div class="col-sm-5 mt-5">
            <div class="card pt-5 px-5 pb-3" style="margin-top:6rem">
               <h6 class="text-center">SECURITY PASSWORD</h6>
               <div class="card-body">
                  <form action="/administrator/login-security-password" method="POST" class="text-center">
                     <div class="input-group">
                        <div class="input-group-prepend">
                           <span class="input-group-text"><i class="fas fa-lock"></i></i></span>
                        </div>
                        <input type="text" class="form-control <%=error.securityPassword?'is-invalid':''%>"
                           name="securityPassword" placeholder="Enter Your Old Password" />
                        <div class="invalid-feedback">
                           <%=error.securityPassword%>
                        </div>
                     </div>
                     <input type="submit" class="btn btn-primary btn-sm mt-3" value="LOGIN">
                  </form>
               </div>
            </div>
         </div>
         <div class="col-sm-3"></div>
      </div>
   </div>
</div>
<%-include('../../partials/admin/adminFooter.ejs')%>
</body>
</html>