<%-include('../../partials/head.ejs')%>

<div class="container-fluid bg-secondary bg-image pb-5 <%=flashMessage.success||flashMessage.fail?'pt-4':'pt-5'%> login-container">
	<!-- <h1 class="text-center admin-login-title"><span>J</span>ASA</h1> -->
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<%-include('../../partials/Error/alert.ejs')%>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
	<div class="custom-login-card">
		<form action="/auth/login" method="POST">
			<div class="custom-login-title">
				<h4 class="pt-2">LOGIN</h4>
			</div>
			<div class="mx-4">
				<div class="custom-login-body text-center">
				
						<div class="form-group py-2">
							<label for="input-email" class="text-left w-100">EMAIL</label>
							<input type="text" autocomplete="off" name="email" id="input-email" class="custom-login-field-style <%=error.email?'is-invalid':''%>" placeholder="example@example.com">
							<div class="invalid-feedback text-left">
								<%=error.email%>
							</div>
						</div>
						<div class="form-group py-2">
							<label for="input-password" class="text-left w-100">PASSWORD</label>
							<input type="password" name="password" id="input-password" class="<%=error.password?'is-invalid':''%> custom-login-field-style " placeholder="**********">
							<div class="invalid-feedback text-left">
								<%=error.password%>
							</div>
						</div>
						
							<a href="/auth/forgot_password">Forgotten Password</a>
						
					
				</div>
			</div>
			<div class="custom-login-footer">
				<input type="submit" class="login-btn-style" value="LOGIN">
				
			</div>
		</form>
	</div>
</div>
<%-include('../../partials/footer.ejs')%>

</body>
</html>