<%-include('../../partials/admin/adminHead.ejs')%>
<div class="container-luid">
   <div class="row">
      <!-- Admin Brand and Dashboard Menu -->
      <%-include('../../partials/admin/adminSidebar.ejs')%>
      <!-- Dashboard Content -->
      <div class="col-sm-10">
         <!-- Admin Navbar Content -->
         <%-include('../../partials/admin/adminNavbar.ejs')%>
         <!-- Included Here Admin Dashboard Controlling Systems Using as a row-->
         <div class="row <%=flashMessage.success||flashMessage.fail?'mt-1':'mt-0'%>">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
               <%-include('../../partials/Error/alert.ejs')%>
            </div>
            <div class="col-sm-2"></div>
         </div>
         <!-- Content Body -->
         <div class="row scroll-style">
            <div class="col-sm-12">
               <h4 class="text-center setting-title">Settings</h4>
               <div class="row mt-2">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="row p-3">
                           <!-- Website Name -->
                           <div class="col-sm-6">
                              <div class="card setting-title-radius" style="height:100%">
                                 <h6 class="slider-title setting-title-radius">Name Setting</h6>
                                 <div class="card-body">
                                    <form action="/administrator/setting/web_name" method="POST" >
                                       <div class="form-row pb-3">
                                          <div class="col-sm-4">
                                             <select class="custom-select mr-sm-2 <%=webNameError.language?'is-invalid':''%>" id="inlineFormCustomSelect" name="language">
                                                <option selected>Choose...</option>
                                                <option value="arabic">Arabic</option>
                                                <option value="bangla">Bangla</option>
                                                <option value="english">English</option>
                                             </select>
                                             <div class="invalid-feedback">
                                                <%=webNameError.language%>
                                             </div>
                                          </div>
                                          <div class="col-sm-6">
                                             <input type="text" name="webname" class="form-control <%=webNameError.webname?'is-invalid':''%>" placeholder="Enter a website name...">
                                             <div class="invalid-feedback">
                                                <%=webNameError.webname%>
                                             </div>
                                          </div>
                                          <div class="col-sm-2">
                                             <input type="submit" value="Add" class="btn btn-primary">
                                          </div>
                                          <small class="text-muted ml-2">You can set max tree name of your website</small>
                                       </div>
                                    </form>
                                    <div class="row">
                                       <div class="col-sm-12">
                                          <%if(webNameList.length===0){%>
                                          <h6 class="text-muted text-center">There is nothing to show</h6>
                                          <%}else{%>
                                          <table class="table table-sm">
                                             <thead>
                                                <tr class="text-center">
                                                   <th scope="col">LANGUAGE</th>
                                                   <th scope="col">WEBSITE NAME</th>
                                                   <th scope="col">CONTROLLING</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <%for(let webName of webNameList){%>
                                                <tr class="text-center" style="line-height:250%;">
                                                   <td><%=webName.lang.charAt(0).toUpperCase()+webName.lang.slice(1)%></td>
                                                   <td class="webNameParent" data-webname="<%=webName.name%>"><%=webName.name%></td>
                                                   <td class="webNameControllParent">
                                                      <a class="btn btn-sm" href="/administrator/setting/web_name_delete/<%=webName.lang%>">
                                                      <i class="fas fa-trash-alt text-danger"></i>
                                                      </a>
                                                      <button class="btn btn-sm webNameEditBtn" data-lang="<%=webName.lang%>">
                                                      <i class="fas fa-edit text-info"></i>
                                                      </button>
                                                   </td>
                                                </tr>
                                                <%}%>
                                                <%}%>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Website Name End -->
                           <!-- Website Logo -->
                           <div class="col-sm-6">
                              <div class="card setting-title-radius" style="height:100%">
                                 <h6 class="slider-title setting-title-radius">Logo Setting</h6>
                                 <div class="card-body">
                                    <form action="/administrator/setting/web_logo" method="POST" enctype="multipart/form-data">
                                       <div class="row">
                                          <div class="col-sm-3"></div>
                                          <div class="col-sm-6">
                                             <div class="card mb-2" style="display:block" id="web-logo-img-parent">
                                                <div id="card-body" class="text-center">
                                                   <img width="<%=webModel.logo?'180px':'130px'%>" src="<%=webModel.logo?webModel.logo:'/uploads/default-web-logo.png'%>" height="120px" id="web-logo-preview" class="p-2" style="border-radius:20px">
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-sm-3"></div>
                                       </div>
                                       <div class="row mb-2">
                                          <div class="col-sm-4"></div>
                                          <div class="col-sm-2">
                                             <a href="/administrator/setting/web_logo/delete" class="btn btn-upload"><i class="fas fa-trash-alt text-danger"></i></a>
                                          </div>
                                          <div class="col-sm-2">
                                             <button type="button" <%=webModel.logo?'':'disabled'%> onclick="logoEditBtnHandler()" class="btn btn-upload"><i class="fas fa-edit text-info"></i></button>
                                          </div>
                                          <div class="col-sm-4"></div>
                                       </div>
                                       <div class="row" id="webLogoControlParent" style=<%=webModel.logo?'display:none':'display:block'%>>
                                          <div class="col-sm-12">
                                             <div class="form-row pb-3">
                                                <div class="col-sm-11">
                                                   <div class="custom-file">
                                                      <input type="file"  accept="image/*" id="webLogoUploadField" class="custom-file-input" name="logo-img">
                                                      <label class="custom-file-label" for="customFile">Choose file</label>
                                                      <div class="invalid-feedback">
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="col-sm-1">
                                                   <button type="submit" id="webLogoUploadBtn" class="btn btn-upload"><i class="fas fa-upload"></i></button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <!-- Website Logo End -->
                        </div>
                        <div class="row p-3">
                           <!-- Slider -->
                           <div class="col-sm-6">
                              <div class="card setting-title-radius" style="height:100%">
                                 <h6 class="slider-title setting-title-radius">Slider Setting</h6>
                                 <div class="card-body">
                                    <!-- Show Slider Images -->
                                    <div class="row mb-3">
                                       <div class="col-sm-12">
                                          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                             <ol class="carousel-indicators">
                                                <%if(webModel.slider.length===0){%>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                <%}else{%>
                                                <%webModel.slider.forEach((slider,index)=>{%>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class="active"></li>
                                                <%})%>
                                                <%}%>
                                             </ol>
                                             <div class="carousel-inner" style="border-radius:10px">
                                                <%if(webModel.slider.length===0){%>
                                                <div class="carousel-item active">
                                                   <img src="/uploads/default-slider.png" height="300px" class="d-block w-100" alt="...">
                                                </div>
                                                <%}else{%>
                                                <%webModel.slider.forEach((slider,index)=>{%>
                                                <%if(index===0){%>
                                                <div class="carousel-item active">
                                                   <img src="<%=slider.image%>" height="300px" class="d-block w-100" alt="...">
                                                </div>
                                                <%}else{%>
                                                <div class="carousel-item">
                                                   <img src="<%=slider.image%>" height="300px" class="d-block w-100" alt="...">
                                                </div>
                                                <%}%>
                                                <%})%>
                                                <%}%>
                                             </div>
                                             <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                             <span class="sr-only">Previous</span>
                                             </a>
                                             <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                             <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                             <span class="sr-only">Next</span>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                    <form action="/administrator/setting/slider-upload" method="POST" enctype="multipart/form-data">
                                       <div class="form-row">
                                          <div class="col-sm-10">
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input <%=upSliderImgErr.message?'is-invalid':''%>" name="slider-img" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                                <div class="invalid-feedback">
                                                   <%=upSliderImgErr.message%>
                                                </div>
                                                <small class="ml-1 form-text text-muted">
                                                You can upload max 8 slider images on your website.    
                                                </small>
                                             </div>
                                          </div>
                                          <div class="col-sm-2 text-center">
                                             <button type="submit" class="btn btn-upload"><i class="fas fa-upload"></i></button>
                                          </div>
                                       </div>
                                    </form>
                                    <div class="row">
                                       <div class="col-sm-12">
                                          <table class="table table-sm">
                                             <thead>
                                                <tr class="text-center">
                                                   <th scope="col">ID</th>
                                                   <th scope="col">IMAGE</th>
                                                   <th scope="col">CONTROLLING</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <%if(webModel.slider.length===0){%>
                                                <tr>
                                                   <td colspan='3'>
                                                      <h6 class="text-muted text-center">There is nothing to show</h6>
                                                   </td>
                                                </tr>
                                                <%}else{%>
                                                <%webModel.slider.forEach((s,i)=>{%>
                                                <!-- Modal -->
                                                <div class="modal fade" id="settingSliderModal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="settingSliderModalLabel" aria-hidden="true">
                                                   <div class="modal-dialog">
                                                      <div class="modal-content">
                                                         <div class="modal-header">
                                                            <h5 class="modal-title text-muted" style="font-weight:bold" id="settingSliderModalLabel"><%=s.name.toUpperCase()%></h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                         </div>
                                                         <form action="/administrator/setting/slider-update/<%=s._id%>" method="POST">
                                                            <div class="modal-body">
                                                               <div class="form-row">
                                                                   <div class="col-sm-5">
                                                                        <label for="message-text" class="col-form-label">Name(Optional)</label>
                                                                        <input type="text" value="<%=s.btnName?s.btnName:''%>" name="name" placeholder="Name" class="form-control">
                                                                   </div>
                                                                   <div class="col-sm-7">
                                                                        <label for="message-text" class="col-form-label">Action</label>
                                                                        <input type="text" value="<%=s.action?s.action:''%>" name="action" placeholder="https://" class="form-control">
                                                                   </div>
                                                                    <div class="col-sm-12">
                                                                        <label for="message-text" class="col-form-label">Text</label>
                                                                        <textarea class="form-control" name="text" id="message-text" placeholder="Enter slider text anything here..." ><%=s.text?s.text:''%></textarea>
                                                                    </div>
                                                                    <div class="col-sm-12 mt-2">
                                                                        <a href="/administrator/setting/slider-text-delete/<%=s._id%>" style=<%=s.text?'display:block':'display:none'%> class="btn btn-danger btn-sm">Delete</a>
                                                                    </div>
                                                               </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                
                                                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                               <button type="submit" class="btn btn-primary">Update</button>
                                                               
                                                            </div>
                                                         </form>
                                                      </div>
                                                   </div>
                                                </div>
                                                <!-- End Modal -->
                                                <tr class="text-center" style="line-height:250%">
                                                   <td><%=i+1%></td>
                                                   <td><%=s.name%></td>
                                                   <td>
                                                      <a href="/administrator/setting/slider-delete/<%=s._id%>" class="btn btn-sm">
                                                         <i class="fas fa-trash-alt text-danger"></i>
                                                         <!-- <i class="fas fa-trash-alt text-danger"></i> -->
                                                      </a>
                                                      <a class="btn btn-sm" data-toggle="modal" data-target="#settingSliderModal<%=i%>" data-whatever="@mdo">
                                                      <i class="fas fa-edit text-info"></i>
                                                      </a>
                                                   </td>
                                                </tr>
                                                <%})%>
                                                <%}%>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>

                                 </div>
                              </div>
                           </div>
                           <!-- Slider End -->
                           <!-- Website Social Links -->
                           <div class="col-sm-6">
                            <div class="card setting-title-radius" style="height:100%">
                               <h6 class="slider-title setting-title-radius">Social Links Setting</h6>
                               <div class="card-body">
                                 <form action="/administrator/setting/links/create" method="POST">
                                    <div class="form-row">    
                                       <div class="col-sm-1 socialIconsStyle">
                                                <i class="fas fa-file-signature"></i>
                                       </div>
                                       <div class="col-sm-5">
                                             <input type="text" name="name" placeholder="Name" class="form-control">
                                       </div>
                                       <div class="col-sm-1 socialIconsStyle">
                                             <i class="fas fa-icons"></i>
                                       </div>
                                       <div class="col-sm-5">
                                             <input type="text" name="icon" placeholder="Icon Name" class="form-control">
                                       </div>
                                       <div class="col-sm-1 mt-2 socialIconsStyle">
                                          <i class="fas fa-link"></i>
                                       </div>
                                       <div class="col-sm-5 mt-2">
                                          <input type="text" name="action" placeholder="https://" class="form-control">
                                       </div>
                                       <div class="col-sm-1 mt-2 socialIconsStyle">
                                          <i class="fas fa-palette"></i>
                                       </div>
                                       <div class="col-sm-3 mt-2">
                                          <input type="color" name="color" class="form-control">
                                       </div>
                                       <div class="col-sm-2 mt-2">
                                          <input type="submit" value="Add" style="width:100%" class="btn btn-success">
                                       </div>
                                    </div>
                                 </form>

                                   <div class="row mt-2">
                                    <div class="col-sm-12">
                                       <%if(webModel.socialLinks){%>
                                        <%if(webModel.socialLinks.length===0){%>
                                            <h6 class="text-muted text-center">There is nothing to show</h6>
                                            <%}else{%>
                                            <table class="table table-sm">
                                               <thead>
                                                  <tr class="text-center">
                                                     <th scope="col">Name</th>
                                                     <th scope="col">Icons</th>
                                                     <th scope="col">Action</th>
                                                     <th scope="col">Controlling</th>
                                                  </tr>
                                               </thead>
                                               <tbody>
                                                  
                                                <%webModel.socialLinks.forEach((link,ind)=>{%>
                                                       <!-- Social Links Modal -->
                                                   


                                          <div class="modal fade" id="socialLinksModal<%=ind%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                             <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                   <div class="modal-header">
                                                   <h5 class="modal-title text-muted" style="font-weight:bold;" id="exampleModalLabel"><%=link.name.toUpperCase()%></h5>
                                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                   </button>
                                                   </div>
                                                   <form action="/administrator/setting/links/update/<%=link._id%>" method="POST">
                                                   <div class="modal-body">
                                                      
                                                      <div class="form-row">
                                                         <div class="col-sm-1 socialIconsStyle">
                                                               <i class="fas fa-file-signature"></i>
                                                         </div>
                                                         <div class="col-sm-5">
                                                            <input type="text" name="name" value="<%=link.name%>" placeholder="Name" class="form-control">
                                                         </div>
                                                         <div class="col-sm-1 socialIconsStyle">
                                                            <i class="fas fa-icons"></i>
                                                         </div>
                                                         <div class="col-sm-5">
                                                            <input type="text" name="icon" value="<%=link.icon%>" placeholder="Icon Name" class="form-control">
                                                         </div>
                                                          <dvi class="col-sm-1 mt-2 socialIconsStyle">
                                                              <i class="fas fa-link"></i>
                                                          </dvi>
                                                          <div class="col-sm-7 mt-2">
                                                              <input type="text" value="<%=link.action%>" name="action" placeholder="https://" class="form-control">
                                                          </div>
                                                         <div class="col-sm-1 mt-2 socialIconsStyle">
                                                            <i class="fas fa-palette"></i>
                                                         </div>
                                                         <div class="col-sm-3 mt-2">
                                                            <input type="color" name="color" value="<%=link.color%>" class="form-control">
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                   <input type="submit" value="Update" class="btn btn-primary">
                                                   </div>
                                                </form>
                                                </div>
                                             </div>
                                          </div>
                                                    <!-- Social Links Modal End -->
                                                       <tr class="text-center" style="line-height:250%;">
                                                           <td><%=link.name%></td>
                                                           <td><%=link.icon%></td>
                                                           <td class="text-muted">
                                                               <%if(link.action.length>15){%>
                                                                   <%=link.action.slice(0,16)+'...'%>
                                                               <%}else{%>
                                                                   <%=link.action%>
                                                               <%}%>
                                                           </td>
                                                           <td>
                                                              <a href="/administrator/setting/links/delete/<%=link._id%>" class="btn btn-sm">
                                                               <i class="fas fa-trash-alt text-danger"></i>
                                                              </a>
                                                              <button class="btn btn-sm" data-toggle="modal" data-target="#socialLinksModal<%=ind%>" data-whatever="@mdo">
                                                               <i class="fas fa-edit text-info"></i>
                                                              </button>
                                                           </td>
                                                        </tr>
                                                <%})%>
                                                  <%}%>
                                               </tbody>
                                            </table>
                                        <%}%>
                                    </div>
                                   </div>
                               </div>
                            </div>
                           </div>
                           <!-- Website Social Links End -->
                        </div>
                        <div class="row p-3">
                           <!-- About Text -->
                           <div class="col-sm-6">
                              <div class="card setting-title-radius" style="height:100%">
                                 <h6 class="slider-title setting-title-radius">About Us</h6>
                                 <div class="card-body">
                                   <form action="/administrator/setting/about/text/add" method="POST">
                                      <div class="form-row">    
                                          <div class="col-sm-12">
                                             <strong>Name</strong> 
                                          </div>
                                          <div class="col-sm-12">
                                                <input type="text" value="<%=webModel.about.title||''%>" style="font-weight:bold;" name="title" class="aboutInputStyle">
                                          </div>
                                        
                                          <div class="col-sm-12 mt-2">
                                             <strong>Text</strong> 
                                          </div>
                                          <div class="col-sm-12">
                                                <textarea name="body" 
                                                 rows="8"
                                                class="aboutInputStyle"><%=webModel.about.body||''%></textarea>
                                                
                                          </div>
                                         
                                         <div class="col-sm-2 mt-2">
                                            <button class="btn <%=webModel.about.title?'btn-primary':'btn-success'%>"><%=webModel.about.title?'Update':'Add'%></button>
                                         </div>
                                      </div>
                                   </form>

                                 </div>
                              </div>
                           </div>
                           <!-- Futured Links -->
                           <div class="col-sm-6">
                              <div class="card setting-title-radius" style="height:100%">
                                 <h6 class="slider-title setting-title-radius">Futured Links Setting</h6>
                                 <div class="card-body">
                                    <form action="/administrator/setting/futured/links/create" method="POST">
                                       <div class="form-row">    
                                           <div class="col-sm-12">
                                              <strong>Name</strong> 
                                           </div>
                                           <div class="col-sm-12">
                                                 <input type="text" placeholder="Example" name="name" class="futuredLinkInputStyle">
                                           </div>
                                         
                                           <div class="col-sm-12 mt-2">
                                              <strong>URL</strong> 
                                           </div>
                                           <div class="col-sm-12">
                                             <input type="text"  placeholder="https://example.com/" name="url" class="futuredLinkInputStyle">
                                          </div>
                                          
                                          <div class="col-sm-2 mt-2">
                                             <input type="submit" value="Add" class="btn btn-success">
                                          </div>
                                       </div>
                                    </form>
                                    <div class="row mt-2">
                                       <div class="col-sm-12">
                                         
                                          <!-- <h6 class="text-muted text-center">There is nothing to show</h6> -->
                                          
                                          <table class="table table-sm">
                                             <thead>
                                                <tr class="text-center">
                                                   <th scope="col">Name</th>
                                                   <th scope="col">URL</th>
                                                   <th scope="col">CONTROLLING</th>
                                                </tr>
                                             </thead>
                                             
                                                <%if(webModel.futuredLinks){%>
                                                   <%if(webModel.futuredLinks.length===0){%>
                                                      <h6>There is nothig to show</h6>
                                                      <%}else{%>
                                                      <tbody>

                                                      <%webModel.futuredLinks.forEach((link,ind)=>{%>
                                                                                                   <!-- Modal -->
                                             <div class="modal fade" id="futuredLinks<%=ind%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                      <h5 class="modal-title text-muted" style="font-weight:bold;" id="exampleModalLabel"><%=link.name.toUpperCase()%></h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                         <span aria-hidden="true">&times;</span>
                                                      </button>
                                                      </div>
                                                      <form action="/administrator/setting/futured/links/update/<%=link._id%>" method="POST">
                                                      <div class="modal-body">
                                                            <div class="form-row">    
                                                               <div class="col-sm-12">
                                                                  <strong>Name</strong> 
                                                               </div>
                                                               <div class="col-sm-12">
                                                                     <input type="text" placeholder="Example" value="<%=link.name%>" name="name" class="futuredLinkInputStyle">
                                                               </div>
                                                            
                                                               <div class="col-sm-12 mt-2">
                                                                  <strong>URL</strong> 
                                                               </div>
                                                               <div class="col-sm-12">
                                                                  <input type="text"  placeholder="https://example.com/" value="<%=link.url%>" name="url" class="futuredLinkInputStyle">
                                                               </div>
                                                            </div>
                                                      </div>
                                                      <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <input type="submit" value="Update" class="btn btn-primary">
                                                      </div>
                                                   </form>
                                                   </div>
                                                </div>
                                             </div>

                     
                                                            <!-- Modal End -->
                                                            <tr class="text-center" style="line-height:250%">
                                                               <td><%=link.name%></td>
                                                               <td class="text-muted"><%=link.url%></td>
                                                               <td>
                                                                  <a href="/administrator/setting/futured/links/delete/<%=link._id%>">
                                                                     <i class="fas fa-trash-alt text-danger"></i>
                                                                  </a>
                                                                  <button class="btn btn-sm" data-toggle="modal" data-target="#futuredLinks<%=ind%>" data-whatever="@mdo">
                                                                     <i class="fas fa-edit text-info"></i>
                                                                    </button>
                                                               </td>
                                                            </tr>
                                                         <%})%>
                                                      </tbody>
                                                      <%}%>
                                                   <%}%>
                                                
                                             
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>   

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%-include('../../partials/admin/adminFooter.ejs')%>
<script>
   function logoEditBtnHandler(){
       let parentElem = document.getElementById('webLogoControlParent')
      
   
       let cssParenElem = getComputedStyle(parentElem)
       if(cssParenElem.display==='none'){
           parentElem.style.display = 'block'    
       }else{
           parentElem.style.display = 'none'    
       }
   }
</script>
</body>
</html>