<%-include('../../partials/admin/adminHead.ejs')%>
<div class="row">
   <!-- Admin Brand and Dashboard Menu -->
   <%- include('../../partials/admin/adminSidebar.ejs')%>
   <!-- Dashboard Content -->
   <div class="col-sm-10 ">
      <!-- Admin Navbar Content -->
      <%- include('../../partials/admin/adminNavbar.ejs')%>
      <!-- Included Here Admin Dashboard Controlling Systems Using as a row-->
      <div class="row <%=flashMessage.success||flashMessage.fail?'mt-1':'mt-0'%>">
         <div class="col-sm-2"></div>
         <div class="col-sm-8">
            <%-include('../../partials/Error/alert.ejs')%>
         </div>
         <div class="col-sm-2"></div>
      </div>
      <div class="row scroll-style">
         <div class="col-sm-12">
            <div id="alert-page-box">
            </div>
            <div class="row py-2">
               <div class="col-sm-12">
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb breadcrumb__container">
                        <li class="breadcrumb-item breadcrumb__item active" aria-current="page"><a href="/administrator/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item breadcrumb__item active" aria-current="page"><a href="/administrator/page_create">Page</a></li>
                        <li class="breadcrumb-item breadcrumb__item active" aria-current="page"><a href="/administrator/page_update/<%=updatePage._id%>"><%=updatePage.menu%></a></li>
                     </ol>
                  </nav>
                  <form action="/administrator/page_update/<%=updatePage._id%>" method="POST">
                     <div class="card p-4">
                        <h6 class="text-center" style="letter-spacing:5px;font-weight:bold"><%=updatePage.menu?updatePage.menu.toUpperCase():'N/A'%></h6>
                        <div class="form-group">
                           <label for="#title">Select Menu</label>
                           <select name="menuName"
                              class="custom-select <%=error.menuName?'is-invalid':''%>">
                              <option value="" style="font-weight:bold;">...</option>
                              <%for(let m of menu){%>
                              <optgroup label="<%=m.name.toUpperCase()%>">
                                 <option value="<%=m.name%>" <%=updatePage.menu===m.name?'selected':''%>>
                                    <%=m.name%>
                                 </option>
                                 <%if(m.dropDown.length!==0){%>
                                 <option
                                    style="color:rgba(243, 91, 3, 0.671);font-weight:bold;font-size:15px"
                                    disabled>DROPDOWN LIST:</option>
                                 <%}%>
                                 <%for(let d of m.dropDown){%>
                                 <option class="mr-5" value="<%=d.name%>" <%=updatePage.menu===d.name?'selected':''%> >** <%=d.name%></option>
                                 <%}%>
                              </optgroup>
                              <%}%>
                           </select>
                           <div class="invalid-feedback">
                              <%=error.menuName%>
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="#title">Title</label>
                           <input type="text" class="form-control <%=error.title?'is-invalid':''%>"
                              name="title" id="title" value="<%=updatePage.title%>"
                              placeholder="Enter your page title...">
                           <div class="invalid-feedback"><%=error.title%></div>
                        </div>
                        <div class="form-group">
                           <label for="exampleInputPassword1">Post</label>
                           <textarea name="body"
                              data-bodytext="<%=updatePage.body%>"
                              class="summerNoteTextEditor <%=error.body?'is-invalid':''%>"><%=updatePage.body%></textarea>
                           <div class="invalid-feedback"><%=error.body%></div>
                        </div>
                        <div class="form-group">
                           <input type="submit" value="Update" style="width:49%" class="btn btn-primary btn-sm">
                           <a href="/administrator/page_delete/<%=updatePage._id%>" class="btn btn-danger btn-sm " style="width:50%">Delete</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%-include('../../partials/admin/adminFooter.ejs')%>
</body>
</html>