<%-include('../../partials/user/head.ejs')%>
<div class="page-wrapper chiller-theme toggled">
   <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
   <i class="fas fa-bars"></i>
   </a>
   <!-- Navbar -->
   <%-include('../../partials/user/navbar.ejs')%>
   <!-- Navbar End -->
   <!-- sidebar-wrapper  -->
   <main class="page-content">
      <div class="container-fluid">
         <h3 style="color: #545b62;font-weight: 600;text-align:center">CLASS MANAGEMENT</h3>
         <hr>
         <div>
            <%-include('../../partials/Error/alert.ejs')%>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <!-- Class Create Form -->
               <h4 style="color: #545b62;font-weight: 600;">Class Create</h4>
               <div class="card my-2 p-2">
                  <form action="/user/class/create" method="POST">
                     <div class="row">
                        <div class="col-sm-4">
                           <div class="form-group">
                              <label for="className"> <strong> Class Name</strong></label>
                              <input type="text" id="className" class="form-control" placeholder="Name" name="name">
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              <label for="classNumeric"><strong> Class Numeric</strong></label>
                              <input type="text" id="classNumeric" name="numeric" class="form-control" placeholder="Numeric">
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              <label for="classSection"><strong>Class Section</strong></label>
                              <input type="text" id="classSection" name="section" class="form-control" placeholder="Section">
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              <label for="classGroup"><strong>Select Group</strong></label>
                              <select id="classGroup" name="group" class="custom-select">
                                 <option selected value="">...</option>
                                 <option value="science">Science</option>
                                 <option value="commerce">Commerce</option>
                                 <option value="arts">Arts</option>
                                 <option value="diploma">Diploma</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              <label for="resultType"><strong>Select Result Type</strong></label>
                              <select id="resultType" name="resultType" class="custom-select">
                                 <option selected value="">...</option>
                                 <option value="gpa">Grade Point Average</option>
                                 <option value="cgpa">Cumulative Grade Point Average</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              <label for="resultCalculteType"><strong>Select Results Calculation Type</strong></label>
                              <select id="resultCalculteType" name="resultCalculateType" class="custom-select">
                                 <option selected value="">...</option>
                                 <option value="same">Same Subject Marks</option>
                                 <option value="difference">Difference Subject Marks</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <input type="submit" value="CREATE" class="btn btn-success btn-sm w-25">
                  </form>
               </div>
               <!-- Class Create Form End-->
               <!-- Class List -->
               <h4 style="color: #545b62;font-weight: 600;">Class List</h4>
               <div class="card my-2 p-2">
                  <%if(classes){%>
                  <table class="table text-center">
                     <thead class="thead-light">
                        <tr>
                           <th scope="col">ID</th>
                           <th scope="col">CLASS</th>
                           <th scope="col">SECTION</th>
                           <th scope="col">GROUP</th>
                           <th scope="col">CONTROLLING</th>
                        </tr>
                     </thead>
                     <tbody>
                        <%if(classes.length!==0){%>
                        <%classes.forEach((c,ind)=>{%>
                        <tr>
                           <th scope="row"><%=ind+1%></th>
                           <td><%=c.name%></td>
                           <td><%=c.section%></td>
                           <td><%=c.group?c.group:'N/A'%></td>
                           <td>
                              <a class="btn btn-sm" href="/user/class/delete/<%=c._id%>">
                              <i class="fas fa-trash-alt text-danger"></i>
                              </a>
                              <a href="/user/class/update/<%=c._id%>">
                              <i class="fas fa-edit text-info"></i>
                              </a>
                           </td>
                        </tr>
                        <%})%>
                        <%}else{%>
                        <tr>
                           <td>
                              <h5 class="text-muted">There is nothing to show</h5>
                           </td>
                        </tr>
                        <%}%>
                     </tbody>
                  </table>
                  <%}%>
               </div>
               <!-- Class List End -->
            </div>
         </div>
      </div>
   </main>
</div>
<%-include('../../partials/user/footer.ejs')%>
</body>
</html>