<%-include('../../partials/user/head.ejs')%>


<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>

  <!-- Navbar -->
  <%-include('../../partials/user/navbar.ejs')%>
  <!-- Navbar End -->

  <!-- sidebar-wrapper  -->
<main class="page-content">
  <div class="container-fluid">
      <h4 style="color: #545b62;font-weight: 600;text-align:center">RESULTS MANAGEMENT</h4>
      <hr>
    <div>
        <%-include('../../partials/Error/alert.ejs')%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card p-2 mb-1">
      
        <table class="table text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Roll</th>
              <th scope="col">Student Id</th>
              <th scope="col">Name</th>
              <th scope="col">Result</th>
              <th scope="col">Controlling</th>
            </tr>
          </thead>
          <tbody>


            <%if(students){%>
                <%if(students.length!==0){%>
                    <%students.forEach((student,ind)=>{%>
                      <!-- Result Create Modal -->

<!-- Result Create Modal -->
<div class="modal fade" id="createResultModal<%=ind%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <form action="/user/results/create/<%=singleClass._id%>/<%=student._id%>" method="POST">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            
            <div class="form-group">
              <label for="<%=student._id%>"><strong>Working Days</strong></label>
              <input type="text" name="workingdays" id="<%=student._id%>" value="<%=id.toString()===student._id.toString()?subjectFieldValue.workingdays:''%>" class="form-control <%=id.toString()===student._id.toString()&&fieldError.workingdays?'is-invalid':''%>">
              <div class="invalid-feedback">
                <%=fieldError.workingdays%>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="<%=student._id+1%>"><strong>Present Days</strong></label>
              <input type="text" name="presentdays" id="<%=student._id+1%>" value="<%=id.toString()===student._id.toString()?subjectFieldValue.presentdays:''%>" class="form-control <%=id.toString()===student._id.toString()&&fieldError.presentdays?'is-invalid':''%>">
              <div class="invalid-feedback">
                <%=fieldError.presentdays%>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="<%=student._id+2%>"><strong>Session</strong></label>
              <input type="text" name="session" id="<%=student._id+2%>" value="<%=id.toString()===student._id.toString()?subjectFieldValue.session:''%>" class="form-control <%=id.toString()===student._id.toString()&&fieldError.session?'is-invalid':''%>">
              <div class="invalid-feedback">
                <%=fieldError.session%>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="<%=student._id+3%>"><strong>Type</strong></label>
              <input type="text" name="type" id="<%=student._id+3%>" value="<%=id.toString()===student._id.toString()?subjectFieldValue.type:''%>" class="form-control <%=id.toString()===student._id.toString()&&fieldError.type?'is-invalid':''%>">
              <div class="invalid-feedback">
                <%=fieldError.type%>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="<%=student._id+4%>"><strong>Select Examination</strong></label>
             
                <select id="<%=student._id+4%>" name="examination" class="<%=id.toString()===student._id.toString()&&fieldError.examination?'is-invalid':''%> custom-select">
                    <option selected value="">...</option>
                
                    <%if(examination){%>
                      <%examination.forEach((exam,ind)=>{%>
                        <option value="<%=exam._id%>"><%=exam.name%></option>
                      <%})%>
                    <%}%>
                </select>
         
              <div class="invalid-feedback">
                <%=fieldError.examination%>
              </div>
            </div>
          </div>
          <!-- Subject List And Obtianed Marks -->
          <div class="col-sm-12">
            <h5 class="py-3"> <strong>Subject List</strong> </h5>
            <div class="row">
              <%if(singleClass.subject){%>
                <%if(singleClass.subject.length!==0){%>
                  <%singleClass.subject.forEach((subject,ind)=>{%>
                    <div class="col-sm-6">
                    <div class="form-group">
                      <label for="<%=student._id+4+ind%>"><strong><%=subject.name%></strong></label>
                      <input type="text" value="<%=id.toString()===student._id.toString()?subjectFieldValue[subject.name]:''%>" name="<%=subject.name%>"  id="<%=student._id+4+ind%>" class="form-control <%=id.toString()===student._id.toString()&&subjectFieldError[subject.name]?'is-invalid':''%>">
                      <div class="invalid-feedback">
                        <%=id.toString()===student._id.toString()?subjectFieldError[subject.name]:''%>
                      </div>
                    </div>
                  </div>
                  <%})%>
                  <%}%>
                <%}%>
            </div>
          </div>

          
           

         
          <!-- Subject List And Obtained Marks End -->

          <!-- Optional Subject List And Obtained MArks -->
          <div class="col-sm-12">
            <h5 class="py-3"> <strong>Optional Subject</strong> </h5>
            <div class="row">
              <%if(singleClass.optionalSubject){%>
                <%if(singleClass.optionalSubject.length!==0){%>
                  <%singleClass.optionalSubject.forEach((subject,ind)=>{%>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="<%=student._id+5+ind%>"><strong><%=subject.name%></strong></label>
                          <input type="text" value="<%=id.toString()===student._id.toString()?subjectFieldValue['opt'+subject.name]:''%>" id="<%=student._id+5+ind%>" name="<%='opt'+subject.name%>" class="form-control <%=id.toString()===student._id.toString()&&subjectFieldError['opt'+subject.name]?'is-invalid':''%>">
                          
                          <div class="invalid-feedback">
                            <%=id.toString()===student._id.toString()?subjectFieldError['opt'+subject.name]:''%>
                          </div>
                        </div>
                      </div>
                    <%})%>
                  <%}%>
                <%}%>
            </div>
          </div>
          
          <!-- Optional Subject List And Obtained Marks End -->
        </div>
        <!-- Subject List -->
 
        <!-- Subject List End -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Create</button>
      </div>
     </form>
    </div>
  </div>
</div>
<!-- Result Create Modal End -->


                      <tr>
                        <th><%=student.roll%></th>
                        <td><%=student.studentId%></td>
                        <td><%=student.name%></td>
                        <td><strong><%=student.hasResult?'Available':'N/A'%></strong> </td>
                        <td>
                          <button type="button" data-toggle="modal" data-target="#createResultModal<%=ind%>" data-whatever="@getbootstrap" style="border:1px solid #00000026;" class="btn btn-sm text-primary">
                            <i class="fas fa-plus"></i>
                          </button>

                          <!-- <a href="/user/result/edit/<%=student.result%>" style="border:1px solid #00000026;" class="btn btn-sm text-info">
                            <i class="fas fa-edit"></i>
                          </a>

                          <a href="/user/result/delete/<%=student.result%>" style="border:1px solid #00000026;" class="btn btn-sm text-danger">
                            <i class="fas fa-trash-alt"></i>
                          </a> -->
                          <a href="/user/student/all/results/<%=student._id%>" style="border:1px solid #00000026;" class="btn btn-sm" ><i class="fas fa-eye-slash"></i></a>

                        </td>
                      </tr>
                    <%})%>
                  <%}else{%>
                    <tr class="py-5">
                      <td colspan="5" class="py-5">
                        <h4 class="text-muted py-5"> <strong>There is a nothing to show</strong> </h4>
                      </td>
                    </tr>
                    <%}%>
              <%}%>
           
          </tbody>
        </table>
      </div>


      <div class="row">
        <div class="col-sm-12">
                <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination flex-wrap">
        <li class="page-item <%=correntPage===1?'disabled':''%>"><a class="page-link" href="/user/results/create/<%=singleClass._id%>?page=<%=correntPage-1%>">Previous</a></li>

          <%for(let i = 1;i<=totalPage;i++){%>
            <li class="page-item"><a class="page-link" href="/user/results/create/<%=singleClass._id%>?page=<%=i%>"><%=i%></a></li>
            <%}%>
         
          <li class="page-item <%=correntPage>totalPage?'disabled':''%>"><a class="page-link" href="/user/results/create/<%=singleClass._id%>?page=<%=correntPage+1%>">Next</a></li>

          <!-- <li class="page-item ml-1" >
            <a class="page-link"  href="/user/results/create/<%=singleClass._id%>">
              <i class="fas fa-redo-alt"></i>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- Pagination End -->
        </div>




<div class="modal fade" id="settingOfResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Setting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <form action="/user/results/all/create/<%=singleClass._id%>" method="GET">
            <h5 class="text-center">Create All Results</h5>
            <div class="form-group">
              <strong>Exam Type</strong>
              <select name="option" class="custom-select">
                <option value="">Select exam type</option>
                <%examination.forEach((exam,ind)=>{%>
                 <option value="<%=exam._id%>" <%=searchValue.option===exam._id.toString()?'selected':''%> ><%=exam.name%></option>
                <%})%>
              </select>
            </div>

              
            <div class="form-group"> 
              <strong>Calculation Type</strong>
              <select name="typeOfcalculate" class="custom-select">
                <option value="">Select calculation type</option>
                <option value="gpa">Grade Point Average</option>
                <option value="cgpa">Cumulative Grade Point Average</option>
              </select>
            </div>

            <button type="submit" class="btn btn-sm btn-light text-dark border w-100" style="background:#dae0e5;">
              <svg width="2em" height="1.25em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
              </svg>
            </button>
          </form>
            

         
          <form class="my-3" action="/user/results/all/divied/<%=singleClass._id%>" method="GET">
            <div class="form-group">
              <h5 class="text-center mt-3">Passed And Failed Results Divider</h5>
              <select name="option" class="custom-select">
                <option value="">Select exam type</option>
                <%examination.forEach((exam,ind)=>{%>
                  <option value="<%=exam._id%>" <%=searchValue.option===exam._id.toString()?'selected':''%> ><%=exam.name%></option>
                <%})%>
              </select>

              <!-- <a href="/user/results/all/divied/<%=singleClass._id%>" class="btn btn-info btn-sm w-100 my-2">Divied All Results</a> -->
            </div>
            <button type="submit" class="btn btn-sm  btn-light text-dark border w-100" style="background:#dae0e5;">
              <svg width="2em" height="1.25em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
              </svg>
            </button>
          </form>
            
            <!-- <div class="form-group">
              <a href="#" class="btn btn-dark btn-sm w-100 my-2">Submit To Administrator</a>
            </div> -->
           
          <form class="my-3" action="/user/results/all/update/<%=singleClass._id%>" method="GET">
            <div class="form-group">
              <h5 class="text-center">Update All Results</h5>
              <select name="option" class="custom-select">
                <option value="">Select exam type</option>
                <%examination.forEach((exam,ind)=>{%>
                  <option value="<%=exam._id%>" <%=searchValue.option===exam._id.toString()?'selected':''%> ><%=exam.name%></option>
                <%})%>
              </select>

              <!-- <a href="/user/results/all/update/<%=singleClass._id%>" class="btn btn-info btn-sm w-100 my-2">Click To Update All Result</a> -->
            </div>
            <button type="submit" class="btn btn-sm  btn-light text-dark border w-100" style="background:#dae0e5;">
              <svg width="2em" height="1.25em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
              </svg>
            </button>
          </form>
        
          <form action="/user/results/all/rank/<%=singleClass._id%>" method="GET">
            <div class="form-group">
              <h5 class="text-center">Result Ranking Setting</h5>
              <select name="option" class="custom-select">
                <option value="">Select exam type</option>
                <%examination.forEach((exam,ind)=>{%>
                  <option value="<%=exam._id%>" <%=searchValue.option===exam._id.toString()?'selected':''%> ><%=exam.name%></option>
                <%})%>
              </select>
            </div>
            <button type="submit" class="btn btn-sm  btn-light text-dark border w-100" style="background:#dae0e5;">
              <svg width="2em" height="1.25em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
              </svg>
            </button>

          </form>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger text-light w-25 btn-sm"  data-dismiss="modal">
          <svg width="2em" height="1.75em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
          </svg>
      </button>
      </div>
    </div>
  </div>
</div>

      

      <div class="col-sm-12">
        <button class="w-75 btn btn-sm btn-dark my-2" data-toggle="modal" data-target="#settingOfResult" data-whatever="@mdo">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
            </svg>
        </button>
          <a class="btn btn-sm btn-secondary" style="width:24%"  href="/user/results/create/<%=singleClass._id%>">
            <i class="fas fa-redo-alt"></i>
          </a>
        </div>
      </div>

    
    </div>
  </div>



</main>
</div>




<%-include('../../partials/user/footer.ejs')%>

</body>

</html>