<%-include('../../partials/user/head.ejs')%>


<%-include('../../partials/user/navbar.ejs')%>

<div>
    <%-include('../../partials/Error/alert.ejs')%>
</div>

<%-include('../../partials/user/sidebar.ejs')%>



<h5>Assalamu Alaikum</h5>

<%-include('../../partials/user/footer.ejs')%>