<%-include('../../partials/user/head.ejs')%>


<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>

  <!-- Navbar -->
  <%-include('../../partials/user/navbar.ejs')%>
  <!-- Navbar End -->

  <!-- sidebar-wrapper  -->
<main class="page-content">
  <div class="container-fluid" style="padding-bottom:0px!important">
    <h4 style="color: #545b62;font-weight: 600;text-align:center">FAILED RESULT</h4>
    <hr>
  <div>
      <%-include('../../partials/Error/alert.ejs')%>
  </div>
  <h5 class="text-center" style="text-transform: uppercase;font-weight: bolder;color:#495057;">
    Student Of Class
    <span style="color:#0062cc">
        <%=singleClass.nameOfNumeric%>
    </span>
   
    Branch 
   <span style="color:#0062cc">
    <%=singleClass.section%>
   </span>
   <%if(singleClass.group){%>
    Group
    <span style="color:#0062cc">
        <%=singleClass.group%>
    </span>
    <%}%>
</h5>
<h5 class="text-center"><strong>Total Failed:<%=results.length%> </strong></h5>
</div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card p-2">
        <form class="form-inline pb-2" action="/user/results/all/failed/<%=singleClass._id%>" method="GET">
          <div class="form-group mr-2">
       
            <select name="option" class="custom-select">
              <option value="">Select exam type</option>
              <%examination.forEach((exam,ind)=>{%>
               <option value="<%=exam._id%>" <%=searchValue.option===exam._id.toString()?'selected':''%> ><%=exam.name%></option>
              <%})%>
            </select>
          
          </div>
          <div class="form-group">
            <input class="form-control mr-sm-2" value="<%=searchValue.roll?searchValue.roll:''%>" name="roll" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
        </form>
      <div class="table-responsive">
        <table class="table text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ROLL</th>
              <th scope="col">NAME</th>
              <th scope="col">GPA</th>
              <th scope="col">GRADE</th>
              <th scope="col">RESULTS</th>
              <th scope="col">TYPES</th>
              <th scope="col">RANK</th>
              <th scope="col">CONTROLLING</th>
            </tr>
          </thead>
          <tbody>
          <%if(results){%>
              <%results.forEach((result,ind)=>{%>
                
                     <!-- Results Modal -->
                     <div class="modal fade" id="resultModal<%=ind%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Results</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            
                            <div class="card p-2">
                              <div class="result-content p-1">
                                 <div class="result-header text-center">
                                      <div class="result-logo m-auto" style="max-width:80px;height:80px;">
                                        <img src="<%=webModel.logo%>" width="80%" alt="">
                                      </div>
                                      <%webModel.name.forEach((name,indOfWebModel)=>{%>
                                            <%if(name.lang.toLowerCase()==='english'){%>
                                              <h5 class="res-large" style="color:#1e7e34"><%=name.name%></h5>
                                              <%}%>
                                      <%})%>
                                            <h6 style="color:#6c757d;font-weight: bolder;">SHOLASHAHAR,CHATTOGRAM</h6>
                                            <h5 style="color:#d39e00"><%=result.exam.title%></h5>
                                            <h5 style="color:#0062cc">Class <%=result.classes.name%> Branch <%=result.classes.section%></h5>
                                 </div>
                                 <div class="result-body p-3">
                                  <div class="custom-table custom-table-head-col-4 border-top border-right border-left">
                                      <div class="border-right py-1 px-2">
                                      
                                          <strong>Roll No: </strong>
                                      
                                      </div>
                                      <div class="border-right py-1 px-2">
                                        
                                        <span><%=result.studentInfo.roll%></span>
                                      </div>
  
                                      <div class="border-right py-1 px-2">
                                        
                                          <strong>Student ID : </strong>
                                      
                                      </div>
                                      <div class="py-1 px-2">
                                        
                                        <span><%=result.studentInfo.studentId%></span>
                                      </div>
  
                                    
                                  </div>
  
                                    <div class="custom-table custom-table-head-col-2 border">
                                        <div class="border-right py-1 px-2">
                                         
                                            <strong>Name Of Student: </strong>
                                         
                                        </div>
                                        <div class="py-1 px-2">
                                          
                                          <span><%=result.studentInfo.name.toUpperCase()%></span>
                                        </div>
  
                                        <!-- <div class="border-right border-bottom py-1 px-2">
                                          <strong>Father's Name: </strong>
                                          
                                        </div>
                                        <div class="border-bottom py-1 px-2">
                                          
                                          <span><%=result.studentInfo.fatherName%></span>
                                        </div>
  
                                        <div class="border-right py-1 px-2">
                                          <strong>Mother's Name: </strong>
                                          
                                        </div>
                                        <div class="py-1 px-2">
                                          
                                          <span><%=result.studentInfo.name%></span>
                                        </div> -->
                                    </div>
  
                                    <div class="custom-table custom-table-head-col-4 border-bottom border-right border-left">
                                      <div class="border-right py-1 px-2">
                                      
                                          <strong>Group: </strong>
                                      
                                      </div>
                                      <div class="border-right py-1 px-2">
                                        <span><%=result.classes.group?result.classes.group:'N/A'%></span>
                                      </div>
  
                                      <div class="border-right py-1 px-2">
                                        
                                          <strong>Type: </strong>
                                      
                                      </div>
                                      <div class="py-1 px-2">
                                        
                                        <span><%=result.types.toUpperCase()%></span>
                                      </div>
  
                                    
                                    </div>
                                    <div class="custom-table custom-table-head-col-4 border-bottom border-right border-left">
                                      <div class="border-right py-1 px-2">
                                      
                                          <strong>Session: </strong>
                                      
                                      </div>
                                      <div class="border-right py-1 px-2">
                                        <%=result.session%>
                                      </div>
  
                                      <div class="border-right py-1 px-2">
                                        
                                          <strong>Total Students : </strong>
                                      
                                      </div>
                                      <div class="py-1 px-2">
                                        
                                        <%=result.totalStudents%>
                                      </div>
  
                                    
                                    </div>
                                    <div class="custom-table custom-table-head-col-4 border-bottom border-right border-left">
                                      <div class="border-right py-1 px-2">
                                      
                                          <strong>Working Days: </strong>
                                      
                                      </div>
                                      <div class="border-right py-1 px-2">
                                        <%=result.workingDays%>
                                      </div>
  
                                      <div class="border-right py-1 px-2">
                                        
                                          <strong>Present Days : </strong>
                                      
                                      </div>
                                      <div class="py-1 px-2">
                                        <%=result.presentDays%>
                                        
                                      </div>
  
                                    
                                    </div>

                                     <div class="custom-table custom-table-head-col-4 border-bottom border-right border-left">
                                          <div class="border-right py-1 px-2">
                                            
                                                <strong>Grade : </strong>
                                            
                                            </div>
                                            <div class="border-right py-1 px-2">
                                                <%=result.grade%>
                                            </div>
                                            <div class="border-right py-1 px-2">
                                            
                                                <strong>Grade Point : </strong>
                                            
                                            </div>
                                            <div class="border-right py-1 px-2">
                                                <%=result.gradePoint?result.gradePoint:'N/A'%>
                                            </div>
                                        </div>

                                        <div class="custom-table custom-table-head-col-4 border-bottom border-right border-left">
                                            <div class="border-right py-1 px-2">
                                            
                                                <strong>Result : </strong>
                                            
                                            </div>
                                            <div class="border-right py-1 px-2">
                                                <%=Number(result.gradePoint)===0?'Failed':'Passed'%>
                                            </div>
                                            <div class="border-right py-1 px-2">
                                            
                                                <strong>Rank : </strong>
                                            
                                            </div>
                                            <div class="border-right py-1 px-2">
                                                <%=result.rank?result.rank:'N/A'%>
                                            </div>
                                        </div>
                                    
                                    <!-- Subject Number -->
                                  <!-- Main Subject -->
                                  <h6 class="text-center my-2"><strong>Subjects</strong></h6>
                                  <div class="custom-table text-center custom-table-col-5 border-top border-right border-left border-bottom">
  
                                      <div class="border-right py-1 px-2">
                                          <strong>Code</strong>
                                      </div>
  
                                      <div class="border-right py-1 px-2">
                                        <strong>Subjects Name</strong>
                                      </div>
  
                                      <div class="border-right py-1 px-2">
                                        <strong>Full Marks</strong>
                                      </div>
                                      <div class="border-right py-1 px-2">
                                        <strong>Obtained Marks</strong>
                                      </div>
                                      <div class="py-1 px-2">
                                        
                                        <strong>Grade</strong>
                                      </div>
  
  
                                      
                                    <%for(let subject of result.subjects){%>
                                      <div class="border-top border-right py-1 px-2">
                                        <span><%=subject.code%></span>
                                      </div>
  
                                      <div class="text-left border-top border-right py-1 px-2">
                                        <span class="ml-2"><%=subject.name%></span>
                                      </div>
  
                                      <div class="border-top border-right py-1 px-2">
                                        <span><%=subject.fullMarks%></span>
                                      </div>
                                      <div class="border-top border-right py-1 px-2">
                                        <span><%=subject.obtainedMarks%></span>
                                      </div>
                                      <div class=" border-top py-1 px-2">
                                        
                                        <span><%=subject.gradePoint%></span>
                                      </div>
                                    <%}%>
                                      
                                    
                                  </div>
                                  <!-- Main Subject End -->
  
                                  <!-- Combination Subject -->
                                  <h6 class="text-center my-2"><strong>Combination Subjects</strong></h6>
                                  <div class="custom-table text-center custom-table-col-5 border-top border-right border-left border-bottom">
  
                                      <div class="border-right py-1 px-2">
                                          <strong>Code</strong>
                                      </div>
  
                                      <div class="border-right py-1 px-2">
                                        <strong>Subjects Name</strong>
                                      </div>
  
                                      <div class="border-right py-1 px-2">
                                        <strong>Full Marks</strong>
                                      </div>
                                      <div class="border-right py-1 px-2">
                                        <strong>Obtained Marks</strong>
                                      </div>
                                      <div class="py-1 px-2">
                                        
                                        <strong>Grade</strong>
                                      </div>
  
  
  
                                    
                                      <%result.subjectAandSubjectB.forEach((subject,ind)=>{%>
                                        <div class="border-top border-right py-1 px-2">
                                          <span><%=subject.code%></span>
                                        </div>
  
                                        <div class="text-left border-top border-right py-1 px-2">
                                          <span class="ml-2"><%=subject.name%></span>
                                        </div>
  
                                        <div class="border-top border-right py-1 px-2">
                                          <span><%=subject.fullMarks%></span>
                                        </div>
                                        <div class="border-top border-right py-1 px-2">
                                          <span><%=subject.obtainedMarks%></span>
                                        </div>
                                      
                                        <!-- <div class=" border-top py-1 px-2">
                                          <span><%=subject.gradePoint%></span>
                                        </div> -->
                                        
                                        <%if(ind%2===1){%>
                                          <div  style="transform: translateY(-12px);" class="py-1 px-2">
                                            <span><%=subject.gradePoint%></span>
                                          </div>
                                      
                                          <%}else{%>
                                            <div class=" border-top py-1 px-2">
                                            
                                            </div>
                                            <%}%>
                                      
                                          
                                      <%})%>
                                  </div>
                                  <!-- Combination Subject End -->
  
  
                                  <!-- Optional Subject -->
  
                                  <%if(result.optionalSubject.length!==0){%>
                                    <h6 class="text-center my-2"><strong>Optional Subjects</strong></h6>
                                  <div class="custom-table text-center custom-table-col-5 border-top border-right border-left border-bottom">
  
                                    <div class="border-right py-1 px-2">
                                        <strong>Code</strong>
                                    </div>
  
                                    <div class="border-right py-1 px-2">
                                      <strong>Subjects Name</strong>
                                    </div>
  
                                    <div class="border-right py-1 px-2">
                                      <strong>Full Marks</strong>
                                    </div>
                                    <div class="border-right py-1 px-2">
                                      <strong>Obtained Marks</strong>
                                    </div>
                                    <div class="py-1 px-2">
                                      
                                      <strong>Grade</strong>
                                    </div>
  
  
  
                                  <%for(let subject of result.optionalSubject){%>
                                    <div class="border-top border-right py-1 px-2">
                                      <span><%=subject.code%></span>
                                    </div>
  
                                    <div class="text-left border-top border-right py-1 px-2">
                                      <span class="ml-2"><%=subject.name%></span>
                                    </div>
  
                                    <div class="border-top border-right py-1 px-2">
                                      <span><%=subject.fullMarks%></span>
                                    </div>
                                    <div class="border-top border-right py-1 px-2">
                                      <span><%=subject.obtainedMarks%></span>
                                    </div>
                                    <div class=" border-top py-1 px-2">
                                      
                                      <span><%=subject.gradePoint%></span>
                                    </div>
                                  <%}%>
  
                                  </div>
                                    <%}%>
                                  
                                  <!-- Optional Subject End -->
  
  
  
                                 </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            
                            <button type="button" class="btn btn-secondary">Download</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Results Modal End -->

                <tr>
                  <th><%=result.studentInfo.roll%></th>
                  <td><%=result.studentInfo.name%></td>
                  <td><strong class="text-dark"><%=result.gradePoint%></strong></td>
                  <td><strong class="text-secondary"><%=result.grade%></strong></td>
                  <td><span class="text-danger">Failed</span> </td>
                  <td><%=result.types%></td>
                  <td><%=result.rank?result.rank:'N/A'%></td>
                  <td class="d-flex justify-content-center">
                    <button class="btn btn-secondary btn-sm mr-1"  data-toggle="modal" data-target="#resultModal<%=ind%>" data-whatever="@mdo">Preview</button>
                    <button class="btn btn-secondary btn-sm">Download</button>
                  </td>
                
              </tr>
              <%})%>
          <%}%>
            
          </tbody>
        </table>
      </div>

      </div>
    </div>
  </div>



</main>
</div>




<%-include('../../partials/user/footer.ejs')%>

</body>

</html>