<!-- Dashboard Sidebar -->
<div class="col-sm-2 bg-dark">
    <!-- Dashboard Brand -->
    <div class="row text-center py-2 admin-head-brand-container">
        <div class="col-sm-8 m-auto admin-head-brand">
            <h1>JASA</h1>
        </div>
    </div>
    <!-- Dasboard Menus -->
    <div class="row sidebar">
        <div class="col-sm-12 my-3 ">
            <div class="row">
                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="/administrator/dashboard">Dashboard</a>
                    </div>
                </div>
                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">

                        <a href="/administrator/menu-create" class="ml-3" id="menuBtn">Menus </a>

                    </div>
                </div>

                <div class="col-sm-11 paddingRemover py-2 pages sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="#" class="ml-3 pageBtn" id="pageBtn">Pages </a>
                        <i class="fas fa-sort-down pageSort"></i>
                    </div>
                    <div class="row mt-2 pages-menu-container">

                        <div class="paddingRemover col-sm-12">
                            <ul class="mt-2 pages-menu">
                                <li>
                                    <a href="/administrator/about/administrator">About Admin</a>
                                </li>
                                <li>
                                    <a href="/administrator/about/teachers">About Teacher</a>
                                </li>
                                <li>
                                    <a href="/administrator/add_content">Content
                                    </a>
                                </li>
                                <%for(let page of pages){%>
                                <li>
                                    <a href="/administrator/page_update/<%=page._id%>"><%=page.menu%></a>
                                </li>
                                <%}%>
                                <%if(Object.keys(createdPage).length!==0){%>
                                <li>
                                    <a href="/administrator/page_update/<%=createdPage._id%>"><%=createdPage.menu%></a>
                                </li>
                                <%}%>
                            </ul>
                          
                                    <a href="/administrator/page_create" class="page-create-btn">Create</a>
                               
                        </div>
                    </div>
                </div>
                  <!-- Notice -->
                <div class="col-sm-11 paddingRemover py-2 pages sidebar-menu-item">
                   
                    <div class="d-flex justify-content-around">
                        <a href="#" class="ml-3 pageBtn" id="pageBtn">Notice </a>
                         <i class="fas fa-sort-down pageSort"></i>
                    </div>
                    <div class="row mt-2 pages-menu-container">

                        <div class="col-sm-12">
                            <ul class="mt-2 pb-1 pages-menu">
                                <li>
                                    <a href="/administrator/news">News</a>
                                </li>
                                <%if(category.length!==0){%>
                                <%for(let c of category){%>
                                <li>
                                    <a href="/administrator/news/category/item/<%=c._id%>"><%=c.name%></a>
                                </li>
                                <%}%>
                                <%}%>
                            </ul>
                            <a href="/administrator/news/category" class="page-create-btn">Category</a>
                        </div>
                    </div>
                </div>
                <!-- Notice End-->

                <!-- Department -->
                <div class="col-sm-11 paddingRemover py-2 pages sidebar-menu-item">

                    <div class="d-flex justify-content-around">
                        <a href="#" class="ml-3 pageBtn" id="pageBtn">Department </a>
                        <i class="fas fa-sort-down pageSort"></i>
                    </div>
                    <div class="row mt-2 pages-menu-container">

                        <div class="col-sm-12">
                            <ul class="mt-2 pages-menu">

                                <%webModel.departments.forEach((department,ind)=>{%>
                                <li>
                                    <a
                                        href="/administrator/department/update/<%=department._id%>"><%=department.name%></a>
                                </li>
                                <%})%>

                            </ul>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/administrator/department" class="page-create-btn"><i
                                            class="mr-2 fas fa-calendar-plus"></i>Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Department End-->
                <div class="col-sm-11 paddingRemover py-2 pages sidebar-menu-item">

                    <div class="d-flex justify-content-around">
                        <a href="#" class="ml-3 pageBtn" id="pageBtn">Results</a>
                        <i class="fas fa-sort-down pageSort"></i>
                    </div>
                    <div class="row mt-2 pages-menu-container">

                        <div class="col-sm-12">
                            <ul class="mt-2 pb-1 pages-menu">
                                <li>
                                    <a href="/administrator/results/create/examination">Examination</a>
                                </li>
                                <li>
                                    <a href="/administrator/results/management">Request</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="/administrator/user/create" class="ml-3">Teachers</a>
                        <i class="fas fa-sort-down"></i>
                    </div>

                </div>

                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="/administrator/links" class="ml-3">Links </a>
                        <i class="fas fa-sort-down"></i>
                    </div>
                </div>

                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="/administrator/emails" class="ml-3">Emails</a>
                        <i class="fas fa-sort-down"></i>
                    </div>
                </div>
                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="/administrator/gallery" class="ml-3">Gallery</a>
                        <i class="fas fa-sort-down"></i>
                    </div>
                </div>
                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="/administrator/setting" class="ml-3">Settings </a>
                        <i class="fas fa-sort-down"></i>
                    </div>
                </div>

                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="/administrator/create" class="ml-3">Administrator</a>
                        <i class="fas fa-sort-down"></i>
                    </div>
                </div>
                <div class="col-sm-11 paddingRemover py-2 sidebar-menu-item">
                    <div class="d-flex justify-content-around">
                        <a href="/administrator/developer/info" class="ml-3">Developer Info</a>
                        <i class="fas fa-sort-down"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>